{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Deleção</title>
    <link rel="stylesheet" href="{% static 'Style.css' %}">
</head>
<body>
    <h1>Confirmar Deleção</h1>
    <p>Tem certeza que deseja deletar o usuário <strong>{{ usuario.username }}</strong>?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Deletar</button>
        <a href="{% url 'painel_admin' %}">Cancelar</a>
    </form>
</body>
</html>